<div class="wrapper" data-color="orange">
    <div class="sidebar" data-color="orange" data-image="#">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url({{image}})"></div>
    </div>

    <div class="main-panel">
        <div class="fixed-plugin">
            <div class="dropdown show-dropdown">
                <a href="#" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-cog fa-2x"> </i>
                </a>
                <ul class="dropdown-menu" x-placement="top-start"
                    style="position: absolute; transform: translate3d(-231px, -105px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <li class="header-title"> Sidebar Style</li>

                    <!-- Background Image -->
                    <li class="adjustments-line">
                        <a href="javascript:void(0)" class="switch-trigger">
                            <p>Background Image</p>
                            <label class="switch-image">
                                <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate bootstrap-switch-on"
                                    style="width: 72px;">
                                    <div class="bootstrap-switch-container" style="width: 122px; margin-left: 0px;">

                                        <span class="bootstrap-switch-handle-on bootstrap-switch-primary"
                                            style="width: 50px;">ON
                                        </span>

                                        <span class="bootstrap-switch-label" style="width: 30px;">&nbsp;</span>

                                        <span class="bootstrap-switch-handle-off bootstrap-switch-primary"
                                            style="width: 50px;">OFF
                                        </span>

                                        <input type="checkbox" data-toggle="switch" data-on-color="primary"
                                            data-off-color="">
                                    </div>
                                </div>
                                <span class="toggle"></span>
                            </label>
                            <div class="clearfix"></div>
                        </a>
                    </li>

                    <!-- Sidebar Mini -->
                    <li class="adjustments-line">
                        <a href="javascript:void(0)" class="switch-trigger">
                            <p>Sidebar Mini</p>
                            <label class="switch-mini">
                                <div class="bootstrap-switch-off bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate"
                                    style="width: 72px;">
                                    <div class="bootstrap-switch-container" style="width: 122px; margin-left: -50px;">
                                        <span class="bootstrap-switch-handle-on bootstrap-switch-info"
                                            style="width: 50px;">ON</span><span class="bootstrap-switch-label"
                                            style="width: 30px;">&nbsp;</span><span
                                            class="bootstrap-switch-handle-off bootstrap-switch-info"
                                            style="width: 50px;">OFF</span><input type="checkbox" data-toggle="switch"
                                            data-on-color="primary" data-off-color="primary">
                                    </div>
                                </div>
                                <span class="toggle"></span>
                            </label>
                            <div class="clearfix"></div>
                        </a>
                    </li>

                    <!-- Fixed Navbar -->
                    <li class="adjustments-line">
                        <a href="javascript:void(0)" class="switch-trigger">
                            <p>Fixed Navbar</p>
                            <label class="switch-nav">
                                <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate bootstrap-switch-off"
                                    style="width: 72px;">
                                    <div class="bootstrap-switch-container" style="width: 122px; margin-left: 0px;">
                                        <span class="bootstrap-switch-handle-on bootstrap-switch-info"
                                            style="width: 50px;">ON</span><span class="bootstrap-switch-label"
                                            style="width: 30px;">&nbsp;</span><span
                                            class="bootstrap-switch-handle-off bootstrap-switch-info"
                                            style="width: 50px;">OFF</span><input type="checkbox" data-toggle="switch"
                                            data-on-color="primary" data-off-color="info">
                                    </div>
                                </div>
                                <span class="toggle"></span>
                            </label>
                            <div class="clearfix"></div>
                        </a>
                    </li>

                    <!-- Filters -->
                    <li class="adjustments-line">
                        <a href="javascript:void(0)" class="switch-trigger background-color">
                            <p>Filters</p>
                            <div class="pull-right">
                                <span class="badge filter badge-black" data-color="black"></span>
                                <span class="badge filter badge-azure" data-color="azure"></span>
                                <span class="badge filter badge-green" data-color="green"></span>
                                <span class="badge filter badge-orange active" data-color="orange"></span>
                                <span class="badge filter badge-red" data-color="red"></span>
                                <span class="badge filter badge-purple" data-color="purple"></span>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </li>
                    
                    <li class="header-title">Sidebar Images</li>
                    <li class="">
                        <a class="img-holder switch-trigger" href="javascript:void(0)">
                            <img src="../assets/img/sidebar-1.jpg" alt="">
                        </a>
                    </li>
                    <li class="">
                        <a class="img-holder switch-trigger" href="javascript:void(0)">
                            <img src="../assets/img/sidebar-3.jpg" alt="">
                        </a>
                    </li>
                    <li class="active">
                        <a class="img-holder switch-trigger" href="javascript:void(0)">
                            <img src="../assets/img/sidebar-4.jpg" alt="">
                        </a>
                    </li>
                    <li class="">
                        <a class="img-holder switch-trigger" href="javascript:void(0)">
                            <img src="../assets/img/sidebar-5.jpg" alt="">
                        </a>
                    </li>
                    <li class="button-container">
                        <div class="">
                            <a href="https://www.creative-tim.com/product/light-bootstrap-dashboard?_ga=2.197820076.209145120.1679107371-783726654.1679107371"
                                target="_blank" class="btn btn-info btn-block btn-fill">Download, it's free!</a>
                        </div>
                    </li>
                    <li class="button-container">
                        <div class="">
                            <a href="https://demos.creative-tim.com/light-bootstrap-dashboard/documentation/tutorial-components.html"
                                target="_blank" class="btn btn-default btn-block btn-fill">Viee Documentation</a>
                        </div>
                    </li>
                    <li class="header-title pro-title text-center">Want more components?</li>
                    <li class="button-container">
                        <div class="">
                            <a href="https://www.creative-tim.com/product/light-bootstrap-dashboard-pro" target="_blank"
                                class="btn btn-warning btn-block btn-fill">Get The PRO Version!</a>
                        </div>
                    </li>
                    <li class="header-title" id="sharrreTitle">Thank you for sharing!</li>
                    <li class="button-container">
                        <button id="twitter"
                            class="btn btn-social btn-outline btn-twitter btn-round sharrre twitter-sharrre"><i
                                class="fa fa-twitter"></i> · 256</button>
                        <button id="facebook"
                            class="btn btn-social btn-outline btn-facebook btn-round sharrre facebook-sharrre"><i
                                class="fa fa-facebook-square"></i> · 426</button>
                    </li>
                </ul>
            </div>
        </div>
        <navbar-cmp></navbar-cmp>
        <router-outlet></router-outlet>
        <div *ngIf="isMap('maps')">
            <footer-cmp></footer-cmp>
        </div>
        <!-- <div class="close-layer" style="height: 1816px;"></div> -->
    </div>

</div>