<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            <i class="pi pi-filter"></i>
                            _filtro
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="selectUser">Usuário</label>
                                <app-search-user-autocomplete (change)="onChange($event)">
                                </app-search-user-autocomplete>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" [busyIf]="isLoading">
                <div class="card">
                    <div class="card-header">
                        <div class="mt-3 mr-2 card-header-action">
                            <button pButton pRibble type="button" icon="pi pi-refresh"
                                class="p-button-rounded p-button-warning p-button-text" pTooltip="Atualizar"
                                tooltipPosition="top" (click)="getUsers()">
                            </button>
                            <button pButton pRibble type="button" icon="pi pi-plus"
                                class="p-button-rounded p-button-warning p-button-text" pTooltip="Novo"
                                tooltipPosition="top" (click)="showCreateModal()">
                            </button>
                        </div>
                        <h4>
                            <i class="nc-icon nc-notes"></i>
                            _usuários
                        </h4>
                    </div>
                    <div *ngIf="users.length == 0" class="card-body table-full-width table-responsive">
                        <div class="container">
                            <div class="row center">
                                <div class="col-md-12">
                                    <div>
                                        <img src="../../assets/img//empty-result.PNG" width="200" />
                                    </div>
                                    Não há dados para sua pesquisa
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="users.length !== 0" class="card-body table-full-width table-responsive">
                        <p-table [rowHover]="true" [value]="users" dataKey="id" [paginator]="false" [rows]="5"
                            [reorderableColumns]="true" responsiveLayout="scroll">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Id</th>
                                    <th>CPF</th>
                                    <th>Nome</th>
                                    <th>Ativo</th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-row>
                                <tr>
                                    <td> {{row.id}}</td>
                                    <td> {{ row.cpf | cpfCnpj }}</td>
                                    <td>
                                        <div class="ellips" pTooltip="{{row.first_name}}">
                                            {{row.first_name}}
                                        </div>
                                    </td>
                                    <td>
                                        <div *ngIf="row.ativo == true" pTooltip="Usuário ativo">
                                            <i class="pi pi-check green"></i>
                                        </div>
                                        <div *ngIf="row.ativo == false" pTooltip="Usuário inativo">
                                            <i class="pi pi-times"></i>
                                        </div>
                                    </td>
                                    <td class="center">
                                        <p-button pTooltip="Açoes" tooltipPosition="left" id="navbarDropdownMenuLink"
                                            data-toggle="dropdown" icon="pi pi-ellipsis-v"
                                            styleClass="p-button-sm p-button-rounded p-button-warning p-button-text ">
                                        </p-button>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item dropdown">
                                                <a class="dropdown-item" href="javascript:void(0);"
                                                    pTooltip="Detalhes" tooltipPosition="lef">
                                                    <i class="pi pi-list green"></i>
                                                    Detalhes
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </ng-template>

                        </p-table>

                        <!-- <p-paginator
                            #paginatorUsers
                            [rows]="dataTableHelperUsers.defaultRecordsCountPerPage"
                            [totalRecords]="dataTableHelperUsers.totalRecordsCount"
                            [rowsPerPageOptions]="dataTableHelperUsers.predefinedRecordsCountPerPage"
                            ></p-paginator> -->
                    </div>
                </div>
            </div>
        </div>

        <app-create-user-modal #createUserModal (modalCreateUserSave)="getUsers()"></app-create-user-modal>

        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Edit Profile</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Company (disabled)</label>
                                        <input type="text" class="form-control" disabled placeholder="Company"
                                            value="Company">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" class="form-control" placeholder="Username"
                                            value="michael23">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" class="form-control" placeholder="Company" value="Mike">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control" placeholder="Last Name" value="Andrew">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input type="text" class="form-control" placeholder="Home Address"
                                            value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>City</label>
                                        <input type="text" class="form-control" placeholder="City" value="Mike">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Country</label>
                                        <input type="text" class="form-control" placeholder="Country" value="Andrew">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Postal Code</label>
                                        <input type="number" class="form-control" placeholder="ZIP Code">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>About Me</label>
                                        <textarea rows="5" class="form-control"
                                            placeholder="Here can be your description"
                                            value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400"
                            alt="..." />
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="assets/img/faces/face-3.jpg" alt="..." />

                                <h4 class="title">Mike Andrew<br />
                                    <small>michael24</small>
                                </h4>
                            </a>
                        </div>
                        <p class="description text-center"> "Lamborghini Mercy <br>
                            Your chick she so thirsty <br>
                            I'm in that two seat Lambo"
                        </p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>